body
{
	background-color: #232323;
	margin: 0;
	font-family: 'Avenir Next Rounded Std';
	font-size: 125%;
}

@font-face 
{
    font-family: 'Avenir Next Rounded Std';
    src: local('Avenir Next Rounded Std Regular'), local('Avenir-Next-Rounded-Std-Regular'),
    	url('index_files/AvenirNextRoundedStd-Reg.woff2') format('woff2'),
        url('index_files/AvenirNextRoundedStd-Reg.woff') format('woff'),
        url('index_files/AvenirNextRoundedStd-Reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

h1
{
    color: white;
    text-align: center;
    background-color: var(--defColor);
    margin: 0;
    /*padding-bottom: 5%;*/
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    transition: all 0.5s;
}

#container
{
    margin: 20px auto;
    max-width: 600px;
}

.square
{
    width: 30%;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
    transition: all 0.5s;
    border-radius: 15%;
    background-color: pink;
}